.idea/
__pycache__/
*.ipynb_checkpoints/

input/*.h5
input_new/*
input/paraview_state_*
input/remove_some_data.py
input/h5_data_structure.aux
input/h5_data_structure.log
input/h5_data_structure.synctex.gz

output/

